@font-face {
  src: url(../node_modules/react-native-vector-icons/Fonts/FontAwesome5_Regular.ttf);
  font-family: 'FontAwesome5_Regular';
}
@font-face {
  src: url(../node_modules/react-native-vector-icons/Fonts/FontAwesome5_Solid.ttf);
  font-family: 'FontAwesome5_Solid';
}

@font-face {
  src: url(../node_modules/react-native-vector-icons/Fonts/MaterialCommunityIcons.ttf);
  font-family: 'MaterialCommunityIcons';
}

@font-face {
  src: url(../node_modules/react-native-vector-icons/Fonts/Entypo.ttf);
  font-family: 'Entypo';
}

@font-face {
  src: url(./assets/fonts/Cinzel-Black.ttf);
  src: url(./assets/fonts/Cinzel-Bold.ttf);
  src: url(./assets/fonts/Cinzel-ExtraBold.ttf);
  src: url(./assets/fonts/Cinzel-Medium.ttf);
  src: url(./assets/fonts/Cinzel-Regular.ttf);
  src: url(./assets/fonts/Cinzel-SemiBold.ttf);
  font-family: 'Cinzel';
}

html {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Cinzel', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
