@font-face {
  src: url(../node_modules/react-native-vector-icons/Fonts/FontAwesome5_Regular.ttf);
  font-family: 'FontAwesome5_Regular';
}
@font-face {
  src: url(../node_modules/react-native-vector-icons/Fonts/FontAwesome5_Solid.ttf);
  font-family: 'FontAwesome5_Solid';
}

@font-face {
  src: url(../node_modules/react-native-vector-icons/Fonts/MaterialCommunityIcons.ttf);
  font-family: 'MaterialCommunityIcons';
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap');

html {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Cinzel', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
